name: Build OpenVPN3 GUI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  # build-mac:
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       include:
  #         # --------------------
  #         # macOS
  #         # --------------------
  #         - name: macOS arm64
  #           runner: macos-latest
  #           qt_arch: clang_64
  #           c_compiler: clang
  #           cpp_compiler: clang++
  #           build_type: Release

  #         - name: macOS amd64
  #           runner: macos-15-intel
  #           qt_arch: clang_64
  #           c_compiler: clang
  #           cpp_compiler: clang++
  #           build_type: Release

  #   name: ${{ matrix.name }}
  #   runs-on: ${{ matrix.runner }}
  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Set reusable strings
  #       # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
  #       id: strings
  #       shell: bash
  #       run: |
  #         echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

  #     - name: Install Qt
  #       uses: jurplel/install-qt-action@v4
  #       with:
  #         version: '6.10.1'
  #         aqtversion: '==3.3.*'
  #         py7zrversion: '==1.0.*'
  #         arch: ${{ matrix.qt_arch }}

  #     - name: Configure CMake
  #       run: |
  #         cmake -B ${{ steps.strings.outputs.build-output-dir }} \
  #           -DCMAKE_C_COMPILER=${{ matrix.c_compiler }} \
  #           -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }} \
  #           -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
  #           -S ${{ github.workspace }}

  #     - name: Build
  #       run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }}

  #     - name: Deploy
  #       run: |
  #         macdeployqt ${{ steps.strings.outputs.build-output-dir }}/app.app

  #     - name: Upload build artifacts
  #       uses: actions/upload-artifact@v4
  #       with:
  #         name: OpenVPN3-GUI-${{ matrix.name }}
  #         path: ${{ steps.strings.outputs.build-output-dir }}/app.app/Contents
  
  build-windows:
    strategy:
      fail-fast: false
      matrix:
        include:

          # --------------------
          # Windows
          # --------------------
          # - name: Windows amd64
          #   runner: windows-latest
          #   msvc_arch: amd64
          #   qt_arch: win64_msvc2022_64
          #   qt_version: 6.10.1
          #   c_compiler: cl
          #   cpp_compiler: cl
          #   cmake_arch: x64
          #   build_type: Release

          # - name: Windows x86
          #   runner: windows-latest
          #   msvc_arch: amd64_x86     
          #   qt_arch: win32_msvc2019
          #   qt_version: 5.15.2
          #   c_compiler: cl
          #   cpp_compiler: cl
          #   cmake_arch: Win32   
          #   build_type: Release

          - name: Windows arm64
            runner: windows-latest
            msvc_arch: amd64_arm64
            qt_arch: win64_msvc2022_arm64_cross_compiled
            qt_version: 6.9.1
            c_compiler: cl
            cpp_compiler: cl
            cmake_arch: ARM64
            build_type: Release

    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4

      - name: Set reusable strings
        # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
        id: strings
        shell: bash
        run: |
          echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"
      
      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.msvc_arch }}

        
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{ matrix.qt_version }}
          aqtversion: '==3.3.*'
          py7zrversion: '==1.0.*'
          arch: ${{ matrix.qt_arch }}

      - name: Configure CMake (Windows)
        run: |
          cmake -B ${{ steps.strings.outputs.build-output-dir }} `
            -S ${{ github.workspace }} `
            -A ${{ matrix.cmake_arch }}

      - name: Build
        run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }}

      - name: Deploy (Windows ARM64)
        if: matrix.cmake_arch == 'ARM64'
        shell: pwsh
        run: |
          & "$env:QT_HOST_PATH\bin\windeployqt.exe" `
            --qtpaths "$env:QT_ROOT_DIR\bin\qtpaths.bat" `
            ${{ steps.strings.outputs.build-output-dir }}\Release\app.exe

      - name: Deploy (Windows amd64 and Win32)
        if: matrix.cmake_arch == 'x64' || matrix.cmake_arch == 'Win32'
        run: |
          windeployqt "${{ steps.strings.outputs.build-output-dir }}\Release\app.exe"

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: OpenVPN3-GUI-${{ matrix.name }}
          path: ${{ steps.strings.outputs.build-output-dir }}\Release\


  build-linux-native:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}

    strategy:
      fail-fast: false
      matrix:
        include:

          # --------------------
          # Ubuntu
          # --------------------
          # - name: Ubuntu 22.04 amd64
          #   runner: ubuntu-22.04
          #   qt_arch: linux_gcc_64
          #   qt_version: 6.10.1
          #   build_type: Release
          #   c_compiler: gcc
          #   cpp_compiler: g++

          # - name: Ubuntu 24.04 amd64
          #   runner: ubuntu-24.04
          #   qt_arch: linux_gcc_64
          #   qt_version: 6.10.1
          #   build_type: Release
          #   c_compiler: gcc
          #   cpp_compiler: g++

          - name: Ubuntu 22.04 arm64
            runner: ubuntu-22.04-arm
            qt_arch: linux_gcc_arm64
            qt_version: 6.9.1
            build_type: Release
            c_compiler: gcc
            cpp_compiler: g++

          # - name: Ubuntu 24.04 arm64
          #   runner: ubuntu-24.04-arm
          #   qt_arch: linux_gcc_arm64
          #   qt_version: 6.10.1
          #   build_type: Release
          #   c_compiler: gcc
          #   cpp_compiler: g++
    steps:
    - uses: actions/checkout@v4

    - name: Set reusable strings
      # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        aqtversion: '==3.3.*'
        version: ${{ matrix.qt_version }}
        target: desktop
        arch: ${{ matrix.qt_arch }}

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: >
        cmake -B ${{ steps.strings.outputs.build-output-dir }}
        -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
        -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        -S ${{ github.workspace }}

    - name: Build
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }}
   
    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: OpenVPN3-GUI-${{ matrix.name }}
        path: ${{ steps.strings.outputs.build-output-dir }}

  # build-linux-containers:
  #   name: ${{ matrix.name }}
  #   runs-on: ${{ matrix.runner }}
  #   container: ${{ matrix.container  }}

  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       build_type: [Release]
  #       include:

  #         # --------------------
  #         # Ubuntu
  #         # --------------------

  #         - name: Ubuntu 25.04 amd64
  #           runner: ubuntu-24.04
  #           qt_arch: linux_gcc_64
  #           container: ubuntu:25.04
  #           c_compiler: gcc
  #           cpp_compiler: g++

  #         - name: Ubuntu 25.04 arm64
  #           runner: ubuntu-24.04-arm
  #           qt_arch: linux_gcc_arm64
  #           container: ubuntu:25.04
  #           c_compiler: gcc
  #           cpp_compiler: g++
  #         # --------------------
  #         # Debian
  #         # --------------------
  #         - name: Debian 12 amd64
  #           runner: ubuntu-24.04
  #           qt_arch: linux_gcc_64
  #           container: debian:12
  #           c_compiler: gcc
  #           cpp_compiler: g++

  #         - name: Debian 12 arm64
  #           runner: ubuntu-24.04-arm
  #           qt_arch: linux_gcc_arm64
  #           container: debian:12
  #           c_compiler: gcc
  #           cpp_compiler: g++
            
  #         - name: Debian 13 amd64
  #           runner: ubuntu-24.04
  #           qt_arch: linux_gcc_64
  #           container: debian:13
  #           c_compiler: gcc
  #           cpp_compiler: g++
          
  #         - name: Debian 13 arm64
  #           runner: ubuntu-24.04-arm
  #           qt_arch: linux_gcc_arm64
  #           container: debian:13
  #           c_compiler: gcc
  #           cpp_compiler: g++


  #         # --------------------
  #         # Fedora
  #         # --------------------
  #         - name: Fedora 41 amd64
  #           runner: ubuntu-24.04
  #           qt_arch: linux_gcc_64
  #           container: fedora:41
  #           c_compiler: gcc
  #           cpp_compiler: g++

  #         - name: Fedora 41 arm64
  #           runner: ubuntu-24.04-arm
  #           qt_arch: linux_gcc_arm64
  #           container: fedora:41
  #           c_compiler: gcc
  #           cpp_compiler: g++
            
  #         - name: Fedora 42 amd64
  #           runner: ubuntu-24.04
  #           qt_arch: linux_gcc_64
  #           container: fedora:42
  #           c_compiler: gcc
  #           cpp_compiler: g++
          
  #         - name: Fedora 42 arm64
  #           runner: ubuntu-24.04-arm
  #           qt_arch: linux_gcc_arm64
  #           container: fedora:42
  #           c_compiler: gcc
  #           cpp_compiler: g++

  #         # --------------------
  #         # RHEL (UBI images)
  #         # --------------------
  #         - name: RHEL 8 amd64
  #           runner: ubuntu-24.04
  #           qt_arch: linux_gcc_64
  #           container: registry.access.redhat.com/ubi8/ubi
  #           c_compiler: gcc
  #           cpp_compiler: g++

  #         - name: RHEL 9 amd64
  #           runner: ubuntu-24.04
  #           qt_arch: linux_gcc_64
  #           container: registry.access.redhat.com/ubi9/ubi
  #           c_compiler: gcc
  #           cpp_compiler: g++

  #         - name: RHEL 10 amd64
  #           runner: ubuntu-24.04
  #           qt_arch: linux_gcc_64
  #           container: registry.access.redhat.com/ubi10/ubi
  #           c_compiler: gcc
  #           cpp_compiler: g++

  #         - name: RHEL 8 arm64
  #           runner: ubuntu-24.04-arm
  #           qt_arch: linux_gcc_arm64
  #           container: registry.access.redhat.com/ubi8/ubi
  #           c_compiler: gcc
  #           cpp_compiler: g++

  #         - name: RHEL 9 arm64
  #           runner: ubuntu-24.04-arm
  #           qt_arch: linux_gcc_arm64
  #           container: registry.access.redhat.com/ubi9/ubi
  #           c_compiler: gcc
  #           cpp_compiler: g++

  #         - name: RHEL 10 arm64
  #           runner: ubuntu-24.04-arm
  #           qt_arch: linux_gcc_arm64
  #           container: registry.access.redhat.com/ubi10/ubi
  #           c_compiler: gcc
  #           cpp_compiler: g++

  #   steps:
  #   - uses: actions/checkout@v4

  #   - name: Set reusable strings
  #     # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
  #     id: strings
  #     shell: bash
  #     run: |
  #       echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"
      
  #   - name: Install build dependencies (Linux containers)
  #     shell: bash
  #     run: |
  #       if command -v apt-get >/dev/null; then
  #         apt-get update
  #         apt-get install -y build-essential cmake ninja-build
  #       elif command -v dnf >/dev/null; then
  #         dnf install -y gcc gcc-c++ cmake ninja
  #       elif command -v microdnf >/dev/null; then
  #         microdnf update -y
  #         microdnf install -y gcc gcc-c++ cmake ninja
  #       fi

  #   - name: Install Qt
  #     uses: jurplel/install-qt-action@v4
  #     with:
  #       aqtversion: '==3.1.*'
  #       version: '6.8.3'
  #       target: desktop
  #       arch: ${{ matrix.qt_arch }}

  #   - name: Configure CMake
  #     # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
  #     # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
  #     run: >
  #       cmake -B ${{ steps.strings.outputs.build-output-dir }}
  #       -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
  #       -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
  #       -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
  #       -S ${{ github.workspace }}

  #   - name: Build
  #     run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }}